/* Will be compiled down to a single stylesheet with your sass files */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 1em;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

li {
	margin-left: 0;
	padding-left: 0;
}

.transactions a {
	text-decoration: none;
}
.transactions input {
	font-size: 1.2em;
}
.transactions .save-button {
	padding: .3em;
	margin: .3em;
	background: #dedede;
}
.transactions .save-button.unsaved {
	background: #eebcca;
}